<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->
<div class="field">
    <label class="label" translate="'Type bestelling'"></label>
    <div class="control" id="company-switcher">
        <input type="radio" id="billing:type_private" name="billing[type]" attr="title: $t('Particulier')" class="order-type validation-passed" value="0" checked="checked">
        <label class="radio-inline" for="billing:type_private" translate="'Particulier'"></label> &nbsp;
        <input type="radio" id="billing:type_business" name="billing[type]" attr="title: $t('Zakelijk')" class="order-type validation-passed" value="1">
        <label class="radio-inline" for="billing:type_business" translate="'Zakelijk'"></label>
    </div>
</div>
